{%extends "base/base.html"%}

{% block content %}
{% if form.errors %}
<p>there was an error</p>
{% endif %}

<div class="container px-4 px-lg-5 my-5">
  <div class="text-center text-white">
    <h1 class="display-4 fw-bolder">Register</h1>
  </div>
</div>

<div class="container">
    <form method="POST" action="{% url 'register' %}">{% csrf_token %}
        {{ register_form }}
        <!--Submit button-->
        <button type="submit" class="btn btn-primary btn-lg">Register</button>
    </form>
</div>
{% endblock %}